@font-face{
    font-family: "Asap-Regular";
    src: url("assets/Asap-Regular.otf");
    font-family: "LucidaSans-Italic";
    src: url("assets/LucidaSans-Italic.ttf");
    font-family: "MyriadPro-Regular";
    src: url("assets/MyriadPro-Regular.ttf");
    font-family: "OpenSans";
    src: url("assets/OpenSans.ttf");
    font-family: "PTSans-NarrowBold";
    src: url("assets/PTSans-NarrowBold.ttf");
    font-family: "PTSans-Regular";
    src: url("assets/PTSans-Regular.ttf");
    font-family: "SegoeUI";
    src: url("assets/SegoeUI.ttf");
    font-family: "SegoeUI-Bold";
    src: url("assets/SegoeUI-Bold.ttf");
    font-family: "SegoeWP";
    src: url("assets/SegoeWP.ttf");
    font-family: "SegoeWP-light";
    src: url("assets/SegoeWP-light.ttf");
}

body {
    width: 1300px;
    height: 566px;
}

* {
	margin: 0;
	padding: 0;
}

/*HEADER*/

header {
    background-image: url(assets/background_header.png);
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}

.logo {
    display: flex;
}

.logo img {
    width: 80px;
    height: 80px;
    padding: 30px 0 56px 142px;
}

h1 {
    font-family: "LucidaSans-Italic", "MyriadPro-Regular";
    font-size: 40px;
    color: white;
    padding: 55px 0 0 11px;
}

.nav {
    display: flex;
    background-color: #f5c506;
    width: 455px;
    height: 42px;
    margin: 70px 140px 0 0;
    box-shadow: -5px -5px 10px #f5c506;
}

.nav a {
    font-family: "SegoeWP", "MyriadPro-Regular";
    font-size: 18px;
    color: rgba(155, 125, 8, 255);
}

.nav hr {
	width: 0.01%; 
    height: 40px;
    color: #b99403;
}

.about {
    width: 30%; 
    padding: 10px 0 5px 35px;
}

.services {
    width: 27%; 
    padding: 8px 0 5px 10px;
}

.contact {
    width: 31%;
    padding: 8px 0 5px 10px;
}

.about img {
    width: 21px; 
    height: 19px;
}

.services img {
    width: 19px; 
    height: 19px;
}

.contact img {
    width: 24px; 
    height: 18px;
}

.slider {
    display: flex;
    height: 400px;
}

.switcherleft {
    width: 32px; 
    height: 57px;
    background: #caa80c;
    border: none;
    margin-top: 135px;
}

.video {
    width: 549px; 
    height: 327px;
    margin: 0 0 120px 120px;
    position: relative;
}

.play {
    width: 67px; 
    height: 67px;
    background: #e0cf42;
    border: none;
    border-radius: 50%;
    margin-top: 130px;
    position: absolute;
    left: 400px;
}

.play img {
    width: 19px; 
    height: 34px;
}

h2 {
    font-family: "Asap-Regular", "MyriadPro-Regular";
    font-size: 64px;
    color: white;
    text-align: center;
    margin: 75px 70px 0 40px;
}

.switcherright {
    width: 32px; 
    height: 57px;
    background: #caa80c;
    border: none;
    margin-top: 135px;
}

/*MAIN*/

/*SECTION1*/

.information {
    display: flex;
    height: 212px;
}

.design {
    width: 20%; 
    padding: 61px 0 77px 70px;
}

.customise {
    width: 20%; 
    padding: 37px 0 80px 70px;
}

.free {
    width: 20%; 
    padding: 54px 0 75px 70px;
}

.design img {
    width: 109px; 
    height: 74px;
    padding-left: 40px;
}

.customise img {
    width: 91px; 
    height: 95px;
    padding-left: 60px;
}

.free img {
    width: 81px; 
    height: 83px;
    padding-left: 45px;
}

.information hr {
    width: 0.01%; 
    height: 212px;
    color: #b99403;
    margin-left: 30px;
}

.information:first-child {
    margin-left: 110px;
}

.information p {
    font-family: "SegoeUI-Light", "MyriadPro-Regular";
    font-size: 26px;
    color: rgba(0, 0, 0, 255);
    margin-top: 10px;
}

.design p {
    margin: 10px 0 0 10px;
}

.customise p {
    margin: 13px 0 0 32px;
}

.free p {
    margin: 10px 0 0 35px;
}

/*SECTION2*/

.examples {
    background-image: url(assets/background_section.jpg);
    background-repeat: no-repeat;
    height: 509px;
}

h4 {
    font-family: "PTSans-Regular", "MyriadPro-Regular";
    font-size: 36px;
    color: white;
    padding: 35px 0 33px 135px;
}

.example {
    display: flex;
}

.description {
    background-image: url(assets/orange1.png);
    background-repeat: no-repeat;
    height: 233px;
    width: 341px; 
    margin-left: 140px;
}

.description p {
    font-family: "SegoeWP-Light", "MyriadPro-Regular";
    font-size: 30px;
    color: white;
    text-align: left;
    padding: 10px 0 0 26px;
}

.plus1 {
    padding-left: 315px;
}

.videomini {
    width: 315px; 
    height: 232px;
    position: relative;
}

.play2 {
    width: 61px; 
    height: 61px;
    background: #bc9b04;
    border: none;
    border-radius: 50%;
    margin-top: 95px;
    position: absolute;
    left: 130px;
}

.play2 img {
    width: 17px; 
    height: 31px;
}

.twitter {
    background-image: url(assets/orange2.png);
    background-repeat: no-repeat;
    width: 329px;
    height: 233px;
    margin-left: 35px;
}

.twitter p {
    font-family: "SegoeWP-Light", "MyriadPro-Regular";
    font-size: 25px;
    color: white;
    margin: 10px 0 0 285px;
}

.twitter img {
    margin: 15px 0 0 80px;
}

.plus2 {
    padding-left: 225px;
}

.calendar {
    background-color: #ddb101;
    width: 113px; 
    height: 86px;
    margin: 0 0 44px 140px;
}

.calendar {
    font-family: "SegoeUI", "MyriadPro-Regular";
    text-align: center;
}

.month {
    font-size: 20px;
    color: rgba(178, 101, 41, 255);
    padding-left: 5px;
}

.day {
    font-size: 55px;
    color: white;
    padding-left: 10px;
}

.sliderline {
    padding-left: 210px;
}

/*SECTION3*/

.connection {
    background-color: #4c4c4c;
    height: 499px;
}

h3 {
    font-family: "PTSans-Regular", "MyriadPro-Regular";
    font-size: 40px;
    color: rgba(245, 197, 6, 255);
    padding: 38px 0 0 330px;
}

.connect {
    display: flex;
    position: relative;
}

.connect button {
    width: 116px; 
    height: 116px;
    background: #f5c506;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
    left: 140px;
}

.notebook {
    width: 323px; 
    height: 255px;
    margin: 50px 0 0 160px;
}

.tablet {
    width: 129px; 
    height: 173px;
    margin: 90px 0 0 24px;
}

.phone {
    width: 39px; 
    height: 63px;
    margin: 200px 0 0 25px;
}

ul {
    margin: 95px 50px 0 105px;
}

li {
    font-family: "PTSans-Regular", "OpenSans", "MyriadPro-Regular";
    font-size: 28px;
    color: #f5c506;
    margin-bottom: 10px;
}

span {
    color: rgba(169, 169, 167, 255);
}

/*FOOTER*/

footer {
    background-color: #4c4c4c;
    height: 64px;
}

footer hr {
    height: 1px;
    color: black;
}

.logomini {
    display: flex;
}

.logomini img {
    width: 51px;
    height: 51px;
    padding-top: 5px;
    padding-left: 141px;
}

h5 {
    font-family: "LucidaSans-Italic", "MyriadPro-Regular";
    font-size: 30px;
    color: white;
    padding: 10px 0 0 10px;
}

a:hover {
    color: darkblue;
}

h1:hover, h2:hover, h5:hover {
	transform: rotateZ(-5deg);
}

button:hover {
	transform: scale(1.5);
}

.plus1:hover, .plus2:hover {
    content: url('assets/plus_hover.png');
}
